!!!
html
  head
    title Spam Art
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/custom.css')
  body
    //.navbar
    //  .navbar-inner
    //    .container
    //      a.brand(href='/') Spam Art
    .subnav
    .container
      block content
